.App {
  text-align: center;
}

table {
  text-align: left;
  position: relative;
}

th {
  width:500px;
  color: White;
  background-color: black;
  position: sticky;
  padding-bottom:10px;
  top: 0;
}
.divScroll {
overflow-y:scroll;
height:250px;
width:1000px;
}
.logo{
  display: block;
  width: auto;
  height: auto;
  padding-bottom:20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    position: fixed;
    left:40%;
    top:25%;
    animation: App-logo-spin infinite 2.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}
