.App {
  text-align: center;
}



table {
  text-align: left;
  position: relative;
}

th {
  width:500px;
  color: White;
  background-color: black;
  position: sticky;
  padding-bottom:10px;
  top: 0;
}
.divScroll {
overflow-y:scroll;
height:250px;
width:1000px;
}
.logo{
  position:absolute;
  left:max;
  padding-bottom:10px;
}
.App-logo {
  top:0;
  position:relative;
  pointer-events: none;
  padding-bottom:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    padding-bottom: 50px;
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
