.App {
  text-align: center;
}
.element{
  padding:20px;
}
.checkboxes input{
  margin: 0px 0px 0px 0px;
 }

 .checkboxes label{
   margin: 0px 10px 0px 3px;
 }

/* .table_ {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 } */

td, th {
   border: 1px solid #ddd;
   padding: 8px;
 }

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}


table {
  width:80%;
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #B3E8FF;
  color: Grey;
  position: sticky;
  padding-bottom:10px;
  top: 0;
}
.divScroll {
overflow-y:scroll;
height:200px;
}
.logo{
  display: block;
  width: auto;
  height: auto;
  padding-bottom:20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    position: fixed;
    left:42%;
    top:8%;
    animation: App-logo-spin infinite 2.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}
